.comment-section {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.comments {
    margin-top: 10px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile {
    position: absolute;
    top: -40px;
    left: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1; /* Ensure profile is above the video */
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span {
    font-weight: bold;
    font-size: 16px;
}
.username {
    font-weight: bold;
    margin-right: 10px;
}

.comment-content {
    flex: 1;
}

.add-comment-form {
    margin-top: 20px;
}

.add-comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-comment-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-comment-form button:hover {
    background-color: #45a049;
}