<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/javascript.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/index}">Home</a>
    <a class="active" th:href="@{/my-videos/{username}(username=${username})}">My Videos</a>
    <a class="active" th:href="@{/post}">Post</a>
    <a class="active" th:href="@{/requests/{username}(username = ${username})}"><i class="fas fa-user-friends"></i></a>
</div>

<div class="container">
    <div class="search-bar">
        <form method="get" th:action="@{index}">
            <input type="text" name="search" th:value="${keyword}" />
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <h1>Your Index, my Lord <span th:text="${username}"></span></h1>
    <div class="login-logout-button" sec:authorize="isAnonymous()">
        <i class="fas fa-sign-in-alt"></i>
        <a th:href="@{/login}">Login</a>
    </div>
    <div class="login-logout-button" sec:authorize="isAuthenticated()">
        <i class="fas fa-sign-out-alt"></i>
        <a th:href="@{/logout}" th:after-signout="clear-session">Logout</a>
    </div>

    <div class="videos">
        <div th:each="video : ${videos}" class="video">
            <div class="profile">
                <p>
                    <a th:href="@{/my-videos/{username}(username=${video.getCreatorDTO().getUsername()})}">
                        <img th:src="${video.getCreatorDTO().getProfile()}" alt="Profile Picture">
                    </a>
                </p>
                <span th:text="${video.getCreatorDTO().getUsername()}"></span>
                <div th:if="${video.getCreatorDTO().getUsername() != username}" class="add-friend-button" th:data-username="${video.getCreatorDTO().getUsername()}">
                    <i th:if="${video.getCreatorDTO().getUsername() != username}" class="fas fa-user-plus add-friend" th:data-username="${video.getCreatorDTO().getUsername()}" onclick="handleFriendRequest(this)"></i>
                </div>
            </div>
            <h2 th:text="${video.getName()}" style="margin-top:60px; margin-left:300px;">Video Title</h2>
            <video controls loop autoplay muted>
                <source th:src="${video.getUrl}" type="video/mp4">
                gha bdel pc hhhh
            </video>
            <div class="like-comment-buttons">
                <div class="like-comment-buttons">
                    <div class="reactions">
                        <div th:each="type : ${T(ma.xproce.video.dao.enumerations.Type).values()}">
                            <i th:class="'fas ' + ${iconClasses.get(type)}"
                               th:data-reaction-count="${videoReactions[video.id][type.name()]}"
                               th:data-type="${type.name()}"
                               th:data-video="${video.id}"
                               th:data-username="${username}"
                               onclick="handleReactionClick(this)"></i>
                            <span  th:text="${videoReactions[video.id][type.name()]}"></span>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <a th:href="@{/video={id}/comments(id=${video.getId()})}">
                        <i class="fas fa-comment"></i>
                    </a>
                    <span th:text="${video.getComments()?.size()}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination-container">
        <ul class="pagination">
            <li class="page-item" th:each="p, stat: ${pages}">
                <a th:class="${stat.index} == ${page} ? 'page-link active' : 'page-link'"
                   th:text="${stat.index}" th:href="@{index(page=${stat.index},search=${keyword})}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
