<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ie5s/F41U5Lz5WDe4O/RWgSB1f6X/yE6N2zM2/zEB8k58z1J/wZQdww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="videos">
    <div  class="video">
        <div class="profile">
            <p>
                <a th:href="@{/my-videos/{username}(username=${video.getCreatorDTO().getUsername()})}">
                    <img th:src="${video.getCreatorDTO().getProfile()}" alt="Profile Picture" >
                </a>
            </p>
            <span th:text="${video.getCreatorDTO().getUsername()}"></span>
        </div>
        <h2 th:text="${video.getName()}" style="margin-top:60px; margin-left:300px;">Video Title</h2> <!-- Adjust margin-left to match profile -->
        <video controls loop autoplay muted>
            <source th:src="${video.getUrl}" type="video/mp4">
            gha bdel pc hhhh
        </video>

    </div>

</div>
    <!-- Comment Section -->
    <div class="comment-section">
        <h3>Comments</h3>
        <div class="comments">
            <div class="comment" th:each="comment : ${video.getComments()}">
                <a th:href="@{/my-videos/{username}(username=${comment.getCreator().getUsername()})}">
                    <img class="profile-image" th:src="${comment.getCreator().getProfile()}" alt="Profile Picture">
                </a>
                <!-- User Name -->
                <span class="username" th:text="${comment.getCreator().getUsername()}"></span>
                <!-- Comment Content -->
                <p class="comment-content" th:text="${comment.getContent()}"></p>
            </div>
        </div>
        <form class="add-comment-form" method="post" th:action="@{/video={videoId}/comments(videoId=${video.id})}">
            <textarea name="commentContenu" placeholder="Write your comment here..." required></textarea>
            <button type="submit">Add Comment</button>
        </form>
    </div>
</div>
</body>
</html>